body {
    margin: 0px;
}

.main-section {
    padding: 20px;
}

.image-container {
    background-image: url("https://www.sardegnaturismo.it/sites/default/files/styles/larghezza_contenitore/public/attrattori/003_cala_goloritze_-_baunei_2_tn.jpg?itok=9rekWA-S") ;
    height: 500px;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Prata";
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
}

h3 {
    font-family: "Prata";
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Montserrat";
}

a {
    font-weight: 600;
    font-style: italic; 
}

h6 {
    padding: 22px;
    margin-top: 56px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(180deg, #588ddb, #a2c0f2)
}

ul {
    padding: 0;
    list-style: none;
}

.zz {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-bottom: 1px;
    border-color: #dfdfdf;
    text-decoration: none;
    color: #588ddb;
}

#za {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    padding: 16px;
}